<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExploraColombiaApp"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".controller.Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.MainActivityUsuarios"
            android:exported="false"/>
        <activity android:name=".controller.MainActivity"
            android:exported="false"/>
        <activity android:name=".controller.SignUp"
            android:exported="false"/>
        <activity android:name=".controller.ForgotPassword"
            android:exported="false"/>
        <activity android:name=".controller.Login"
            android:exported="false"/>
        <activity android:name=".controller.Detail"
            android:exported="false"/>
        <activity android:name=".controller.EditContact"
            android:exported="false"/>
        <activity android:name=".controller.EditDescuento"
            android:exported="false"/>
        <activity android:name=".controller.EditGallery"
            android:exported="false"/>
        <activity android:name=".controller.EditHorario"
            android:exported="false"/>
        <activity android:name=".controller.EditMenu"
            android:exported="false"/>
        <activity android:name=".controller.Gallery"
            android:exported="false"/>
        <activity android:name=".controller.Menu"
            android:exported="false"/>
        <activity android:name=".controller.Offer"
            android:exported="false"/>
        <activity android:name=".controller.PlateEdit"
            android:exported="false"/>
        <activity android:name=".controller.Review"
            android:exported="false"/>
        <activity android:name=".controller.artesanias.VisualizerArtesanias"
            android:exported="false"/>
    </application>

</manifest>